<!-- Теги -->

<h1>Заголовок 1 уровня</h1>

<h2>
    Заголовок 2 уровня
</h2>

<div>
    <h3>Заголовок</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quo modi harum eos voluptate ad est repellat soluta, possimus blanditiis. Dolorem impedit minima officia beatae non, amet aliquid ipsum sunt.
    </p>
</div>

<span>Строчный элемент 1</span>
<span>Строчный элемент 2</span>

<a href="https://google.com">ССЫЛКА</a>

<img src="../static/logo.png" alt="LOGO">

<div>
    <h3>Заголовок</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, numquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet.
    </p>
    <div>
        <a href="https://google.com" target="_blank">
            <img src="../static/logo.png" alt="LOGO">
        </a>
    </div>
</div>