<!-- подключение шаблона -->
{% extends "index.html" %}

<!-- встраиваемая разметка -->
{% block main %}

<div class="content product-content">
	<h1>Product page</h1>

	<form method="post">
		<!-- Поля ввода данных -->
		<!-- Поле соли -->
		<div class="field">
			<label for="salt">Соль:</label>
			<input type="text" name="salt" id="name">
		</div>
		<!-- Поле пароля -->
		<div class="field">
			<label for="pwd">Пароль:</label>
			<input type="password" name="pwd" id="pwd">
		</div>
		<!-- поле ввода кол-ва символов -->
		<div class="field">
			<label for="num_char">Кол-во символов:</label>
			<input type="text" name="num_char" id="num">
		<!-- Конпка -->
		<button type="submit">Готово</button>
	</form>

	<div class="message">
		{% if msg %}
		<p>{{ msg }}</p>
		<p>{{ n }}</p>
		<p>{{ p }}</p>
		{% endif %}
	</div>
</div>

{% endblock %}